.imgBanner {
  width: 100%;
  position: absolute;
  left: 0;
  top: -137px;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  p {
    text-align: justify;
  }
  p,
  span,
  a,
  ul {
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 1rem 0;
  }
}

.containerGeral {
  width: 100%;
  height: 100%;
  background: var(--bg);
  z-index: 2;
  margin-top: 350px;
  padding: 0 !important;

  .container {
    border: 1px solid var(--pink);
    max-width: 788px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: var(--bg-light-100);
    border-radius: 0.5rem;
    h1 {
      padding: 5px;
      font-size: 3.5rem;
      color: var(--gray-light);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 0.5rem;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #bbbbbb;
        svg {
          width: var(--svg-size);
          height: var(--svg-size);
        }
        span {
          margin-left: 0.5rem;
        }
        & + div {
          margin-left: 1.2rem;
        }
      }
    }
  }
}
